:root {
    /* raw color values */
    --charleston-green: #232B2B;
    --sage-green: #C9DABF;
    --sage-green-darker: #A1AE99;
    --green-one: #5F6F65;
    --green-two: #879583;
    --green-three: #768772;
    --test-color: #F4C430;
    
    /* define palette */
    --primary-color: var(--charleston-green);
    --secondary-color: var(--green-two);
    --text-color: var(--green-two);
    --link-color: var(--sage-green-darker);
    
    /*  */
    --footer-height: 6rem;
}
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1; /* Ensures the main content area takes available space */
  line-height: 135%;
}



body {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: monospace;
    font-size: 16px;
}
a, a:hover {
    color: var(--link-color);
}
a:hover {
    filter: brightness(80%); /* darken */
}
ol, ul {
    /* list-style-type: none; */
}
time {
    margin-right: 1rem;
}
hr {
    max-width: 50rem;
    margin: 2rem auto;
    color: var(--text-color);
}


/* --------------- Custom Styles --------------- */

.text-center {
    text-align: center;
}
.fullquote {
    width: 20rem;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    margin: 1rem;
    padding: 1.2rem;
    font-style: italic;
}
.fullquote figcaption,
.sidequote figcaption{
    text-align: right;
    opacity: 0.5;
}
.fullquote figcaption::before,
.sidequote figcaption::before{
    content: "— ";
}
.sidequote {
    width: 20rem;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    margin: 1rem;
    padding: 1.2rem;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.sidequote-lg {
    width: 30rem;
}
@media (max-width: 480px) {
    .sidequote {
        width: 20rem;
        margin: 1rem 0rem 1rem 0rem;
    }
    .sidequote-lg {
        width: 20rem;
    }
}
.sidequote-right {
    float: right;
    margin: 1rem 0 1rem 1rem;
}
.sidequote-left {
    float: left;
    margin: 1rem 1rem 1rem 0rem;
}

/* --------------- Page Width (Post Sizes) (use .page + .size class) --------------- */

.post {
    margin: 0 auto;
    display: block;
    width: 60rem;
}
@media (max-width: 480px) {
    .post {
        max-width: 25rem;
    }
}
.page {
    margin: 0 auto;
    display: block;
    width: 45rem;
}
@media (max-width: 480px) {
    .page {
        max-width: 25rem;
    }
}