---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About Me" class="large text-center">
    <p>Steven Gutierrez</p>
    
    <p>Software Engineer • PHP/JS/HTML/CSS/MySQL</p>
    
    <p>
        I'm an open-source enthusiast, lover of technology, and occasionally
       do photography in my free time
    </p>
    
    <br>
    <br>
    
    <div style="width: 20rem; margin: 0 auto; display: block;">
        <span>Skills</span>
        <ul id="skills_list">
            <li class="">Full Stack Web Development</li>
            <li class="">Linux</li>
            <li class="">Godot Game Engine</li>
            <li class="">3D Printing / Basic CAD</li>
        </ul>
    </div>
    
    <br>
    <p>
        I enjoy a quiet life with spontaneity. Social butterfly who needs a lot of rest. My day-to-day 
        is usually spent working on side projects and researching new skills. Very whimsical and adventurous - "I'm
        willing to try anything at least once". My greatest disappointment about life is that I won't be able to 
        experience all of it. Doing things for others is my greatest source of joy.
    </p>
    
    
    <p><a href="https://www.16personalities.com/infp-personality">INFP</a> • Pisces • Leftist</p>
    <br></br>
    
    <div style="display: flex; justify-content: center; align-items: stretch;">
        <blockquote class="sidequote">
            "The meaning of life is to give life meaning" <br> - Viktor Frankl
        </blockquote>
        <blockquote class="sidequote">
            "When death finds you, may it find you alive" <br> - African proverb
        </blockquote>
    </div>
</BaseLayout>

<style>
* {
    text-align: center;
}
ul#skills_list {
    list-style-position: outside;
}

</style>