---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About Me" class="post text-center">
    <p>Steven Gutierrez</p>
    
    <p>Software Engineer • PHP/JS/HTML/CSS/MySQL</p>
    
    <p>
        I'm an open-source enthusiast, lover of technology, and occasionally
       do photography in my free time
    </p>
    
    <br>
    
    <div style="width: 20rem; margin: 0 auto; display: block;">
        <span>Skills</span>
        <ul id="skills_list">
            <li class="">Full Stack Web Development</li>
            <li class="">Linux / Homelab</li>
            <li class="">Godot Game Engine</li>
            <li class="">3D Printing / Basic CAD</li>
        </ul>
    </div>
    
    <br>
    <hr/>
    <br>
        
    <p><a href="https://www.16personalities.com/infp-personality">INFP-T</a> • Pisces • Leftist</p>
    <p>
        Social butterfly with a CR2032 sized social battery. My day-to-day 
        is usually spent working on many side projects and researching new skills; my favorite thing to do is learn. Very
        anti-consumerism.
        I try to live a whimsical and adventurous life - "I'm willing to try anything at least once". My greatest disappointment about life 
        is that I won't be able to experience all of it.<br>Building things for others is my greatest source of joy.
    </p>
    
    
    <div class="sidequotes-container">
        <blockquote class="sidequote">
            "The meaning of life is to give life meaning"
        </blockquote>
        <blockquote class="sidequote">
            "One thing I know is there's two things I'm always gonna beat: my meat and the odds."
        </blockquote>
    </div>
</BaseLayout>

<style>
* {
    text-align: center;
}
ul#skills_list {
    list-style-position: outside;
}
.sidequotes-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
}
@media (max-width: 480px) {
  .sidequotes-container {
    flex-direction: column;
    align-items: center;
  }
}

</style>