---
import BaseLayout from "../layouts/BaseLayout.astro";
const { title = "ssgutier" } = Astro.props;
---

<BaseLayout title="Steven's Space" class="medium">
    <p>
        This website is a work in progress!<br>I plan to post devblogs about my projects and cool things I'm learning :)
    </p>
    <p>
        I'm also working to be more open about my emotions, so this little corner of the internet is my safe space.
        I've been doing a lot of writing lately so I might post some. Here be dragons, but I wont get too personal.
    </p>
    <p>
        This isn't intended to be a resume site at the moment. Just a place for me to document myself that isn't
        tied to a social media algorithm.
    </p>
</BaseLayout>
