<footer>
    <a href="https://www.instagram.com/ssgutier/">
        <img id="instagram_svg" class="social-media-icon" src="/images/instagram.svg" alt="Instagram">
    </a>
    <a href="https://github.com/Seltonu">
        <img id="github_svg" class="social-media-icon" src="/images/github.svg" alt="Github">
    </a>
</footer>

<style>
    /* ---------------- Icons (colors handled in SVG) ---------------- */
    footer {
      width: 100%;
      text-align: center;
      padding-top: 2rem;
      padding-bottom: 1rem;
    }
    
    footer a {
      text-decoration: none;
    }
    .social-media-icon {
        width: calc(var(--footer-height) / 2);
        height: calc(var(--footer-height) / 2);
    }
</style>