---
// import HeaderLink from './header_link.astro';
import { SITE_TITLE } from '../consts';
---

<header style="text-align: center;">
    <nav>
        <h1 style="margin-bottom: 1.5rem;"><a href="index.html">{SITE_TITLE}</a></h1>
        <a href="/index.html">Home</a>
        <a href="/about.html">About Me</a>
        <a href="/blogs.html">Blog</a>
        <a href="/writings.html">Writings</a>
    </nav>
</header>

<style>
nav {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
a {
    margin-right: 3rem;
    margin-left: 3rem;
}
</style>