---
import { SITE_TITLE } from "../consts";
---

<header style="text-align: center;">
    <nav>
        <h1 style="margin-bottom: 1.5rem;"><a href="/index">{SITE_TITLE}</a></h1>
        <a href="/index">Home</a>
        <a href="/about">About Me</a>
        <a href="/blogs">Blog</a>
        <a href="/writings">Writings</a>
    </nav>
</header>

<style>
nav {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
a {
    margin-right: 3rem;
    margin-left: 3rem;
}
</style>