---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import "../styles/global.css";
// const { title = "ssgutier" } = Astro.props;
const { title = "Steven's Space", class: className } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/catgroove.webp" />
        <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
        <meta name="viewport" content="width=device-width">
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <main class={className}>
            <Header />
            <slot />
            
            <img id="flowers_svg" src="/images/flowers.svg" alt="Flowers">
        </main>
    </body>
    <Footer />


</html>

<style>
main {
    /* max-height: calc(97dvh - var(--footer-height)); */
    /* min-height: 100%; */
}
ul {
    list-style-position: outside;
}
#flowers_svg {
    max-width: 32rem;
    position: fixed;
    bottom: 0;
    right: 0;
    transform: scaleX(-1);
}

</style>

